<div class="topic-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">コメントの投稿</h1>
        <%= form_for @comment do |f| %>
          <%= hidden_field_tag :id, @topic_id %>
          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content, class: 'form-control' %>
          </div>
          <% if logged_in? %>
            <%= f.submit 'コメントする', class: 'btn btn-black btn-block' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>